body{
  /* background-color: aqua; */
}
.change{
  fill: aqua;
}
.tag{
  background-color: rgba(250, 235, 215, 80%);
  color: rgb(170, 54, 124);
  backdrop-filter: blur(4px);
  font-weight: 700;
}
.nav{
  background-color:  rgba(250, 235, 215, 80%);
  backdrop-filter: blur(4px);
}
.heading{
  background-color:  rgba(250, 235, 215, 90%);
  color: rgb(170, 54, 124);
  backdrop-filter: blur(4px);
  font-weight: 700;
  border-radius: 20px;
}