body{
  /* background-color: aqua; */
  background-color: white;
  color: black;
  font-family: 'Space Grotesk', sans-serif;
}
.motto{
  font-family: 'Clicker Script', cursive;
}
.thriftng{
  font-family: 'Black Ops One', cursive;
  letter-spacing: 0.2rem;
  background: linear-gradient(to right, #009900,
  #00cc00, #00ff00);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.productBorder{
  border-top: 1px solid #00cc00;
  border-bottom: 1px solid #00cc00;
}
.tag{
  background-color: #00cc0099;
  color: white;
  backdrop-filter: blur(4px);
  font-weight: 800;
  font-size: 0.9rem;
}
.nav{
  background-color:  white;
  backdrop-filter: blur(4px);
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}
.heading{
  background-color: #00cc00;
  color: white;
  backdrop-filter: blur(4px);
  font-weight: 700;
  border-radius: 20px;
}
.sign-in-google:hover, .create-ad{
  background-color: rgb(170, 54, 124);
  color: white;
}
.sign-in-google{
  border: 1px solid #00cc00;
}
.login-page{
  border: 2px solid #00cc00;
  border-radius: 20px;
  background-color:  #fffafa;
}

.profile-details{
  border-radius: 10px;
  background-color: white;
  box-shadow: 1px 1px 5px black;
  font-weight: 400;
}
.profile-details:hover{
  color: rgb(170, 54, 124);
}
.overlay{
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  top: 0%;
}
.slider{
  height: 250px;
  margin: auto;
  position: relative;
  width: 100%;
  display: grid;
  place-items: center;
  overflow: hidden;
}
.slide-track{
  display:flex;
  width: calc(250px * 10);
  animation: scroll 40s linear infinite;
}
@keyframes scroll{
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(calc(-250px * 5));
  }
}
.slide-track:hover{
  animation-play-state: paused;
}
.slide{
  /* height: 200px; */
  width: 250px;
  display: flex;
  align-items: center;
  padding: 15px;
  perspective: 100px;
}

.showNav{
  transition: transform 1s ease-in-out;
  background-color:  #fffafa;
}
.mobile-nav{
overflow-y: scroll;
background-color: white;
}
.cloths:hover, .womenCloths:hover, .menCloths:hover, .shoes:hover, .menShoe:hover, .womenShoe:hover, .accessories:hover, .menAccessories:hover, .womenAccessories:hover, .hair:hover, .skin:hover, .bags:hover, .fragrance:hover, .pastries:hover, .topcard:hover{
  background-color: #38A169;
}
.cloths{
  background-image: url("assets/images/backgroundCloth.webp");
  background-position: 50% 20%;
  border-radius: 15px;
  border: 2px solid #00cc00;
  grid-row: inherit;
  height: 400px;
}
.womenCloths{
  background-image: url("assets/images/women-cloth.webp"); 
  height: 300px;
  border: 2px solid #00cc00;
  width: 50%;
  background-position: 50% 95%;
  background-size: contain;
  border-radius: 15px;
  background-repeat: no-repeat;
}
.menCloths{
  background-image: url("assets/images/men-clothes.webp"); 
  height: 300px;
  border: 2px solid #00cc00;
  width: 50%;
  background-position: 50% 95%;
  background-size: contain;
  border-radius: 15px;
  background-repeat: no-repeat;
}
.shoes{
  background-image: url("assets/images/backgroundShoe.webp");
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 15px;
  border: 2px solid #00cc00;
  height: 400px;
}
.womenShoe{
  background-image: url("assets/images/women-shoes.webp"); 
  height: 300px;
  border: 2px solid #00cc00;
  width: 50%;
  background-position: 50% 50%;
  background-size: contain;
  border-radius: 15px;
  background-repeat: no-repeat;
}
.menShoe{
  background-image: url("assets/images/men-shoes.webp"); 
  height: 300px;
  border: 2px solid #00cc00;
  width: 50%;
  background-position: 50% 90%;
  background-size: contain;
  border-radius: 15px;
  background-repeat: no-repeat;
}
.bags{
  background-image: url("assets/images/backgroundBag.webp");
  background-position: 50% 20%;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 15px;
  border: 2px solid #00cc00;
  height: 350px;
  width: 100%;
}
.skin{
  background-image: url("assets/images/skinCare.webp");
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 15px;
  border: 2px solid #00cc00;
  height: 400px;
  margin-top: -16rem;
  width: 100%;
}
.pastries{
  background-image: url("assets/images/backgroundPastries.webp");
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 15px;
  border: 2px solid #00cc00;
  height: 190px;
  width: 100%;
}
.fragrance{
  background-image: url("assets/images/backgroundFragrance.webp");
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 15px;
  border: 2px solid #00cc00;
  height: 400px;
  width: 100%;
  margin-top: -13rem;
}
.hair{
  background-image: url("assets/images/backgroundHair.webp");
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 15px;
  border: 2px solid #00cc00;
  margin-top: -6.5rem;
  height: 250px;
  width: 100%;
}
.accessories{
  background-image: url("assets/images/backgroundAccessories.webp");
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 15px;
  border: 2px solid #00cc00;
  height: 300px;
}
.womenAccessories{
  background-image: url("assets/images/womenAccessories.webp"); 
  height: 300px;
  border: 2px solid #00cc00;
  width: 50%;
  background-position: 50% 45%;
  background-size: contain;
  border-radius: 15px;
  background-repeat: no-repeat;
}
.menAccessories{
  background-image: url("assets/images/men-accessories.webp"); 
  height: 300px;
  border: 2px solid #00cc00;
  width: 50%;
  background-position: 50% 50%;
  background-size: contain;
  border-radius: 15px;
  background-repeat: no-repeat;
}
.productsContainer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: repeat(20, 200px); */
  gap: 1rem;
}
.topcard{
  border: 1px solid #00cc00;
  border-radius: 10px;
}
.ecommerceCard{
  box-shadow: 0px 0px 7px #00cc00;
}
input[type=text]{
  border: 2px solid ;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  caret-color: #38A169;
}
input[type=text]:focus{
  border: 2px solid #00cc00;
}
.buyProductBorder{
  border-bottom:  1px solid #00cc00;
}
.topnav{
  background-color: #00cc00;
  border-end-end-radius: 20px;
  border-bottom-left-radius: 20px ;
}
.footer{
  background-color: #00cc00;
  border-top-right-radius: 30px ;
  border-top-left-radius: 30px ;
}
.officialStore, .categories{
  border-bottom: 1px solid #00cc00; ;
}
.buyProduct, .productgender{
  border: 1px solid #00cc00; ;
}
.loaderContainer{
  perspective: 150px;
}
.loader{
  animation: front 1s linear infinite;
  width: 15%;
}
.landingloader{
  animation: front 1s linear infinite;
  width: 35%;
}
@keyframes front {
  0% {
      transform: translateZ(-10px);
  }
  50% {
      transform: translateZ(10px);
  }
  100% {
      transform: translateZ(-10px);
  }
}
.landingpageLoader{
  background-color:#00cc00
}

/* @media screen and (min-width : 500px){
  .topimage{
    width: 220px;
    height: 170px;
  }
}
@media screen and (min-width : 530px){
  .topimage{
    width: 250px;
    height: 200px;
  }
}
@media screen and (min-width : 700px){
  .topimage{
    width: 360px;
    height: 300px;
  }
}
@media screen and (min-width : 900px){
  .topimage{
    width: 400px;
    height: 300px;
  }
}
@media screen and (max-width : 430px){
  .topimage{
    width: 180px;
    height: 130px;
  }
}
@media screen and (max-width : 400px){
  .topimage{
    width: 170px;
    height: 100px;
  }
}
@media screen and (max-width : 380px){
  .topimage{
    width: 165px;
    height: 100px;
  }
}
@media screen and (max-width : 360px){
  .topimage{
    width: 160px;
    height: 100px;
  }
}
@media screen and (max-width : 330px){
  .topimage{
    width: 143px;
    height: 100px;
  }
}
@media screen and (max-width : 300px){
  .topimage{
    width: 127px;
  }
} */
